@import "_mobile_controls";
@import "_main_topo";

.topo{
	width: 100%;
    position: relative;
	background: rgb(13,66,117);
    left: 0;
    top: 0;
    z-index: 1000;
}

/**************************************************************************
						MOBILE/TABLET
***************************************************************************/
@include media-breakpoint-down(md){
	.topo{
		position: sticky;
	}
}
